.nba-header{
  background-color: #2f71f4;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header-tittle{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-tittle .logo{
  width: 2.5%;
  height: 2.5%;
}

.header-tittle .tittle .logo{
  display: flex;
  align-items: center;
}

.header-elements{
  display: flex;
  gap: 1rem;
}