@use '../styles/token.scss' as t;


.nba-header {
  background-color: t.$brand-primary;
  color: t.$text-on-dark;
  padding: t.$space-4;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header-tittle {
  display: flex;
  align-items: center;
  gap: t.$space-4;
}

.header-tittle .logo {
  width: 2.5%;
  height: 2.5%;
}

.header-elements {
  display: flex;
  gap: t.$space-4;
}
