// @use '../../styles.scss' as s;

:host{
    display: block;
    width: 100%;
    background-color: rgb(212, 215, 249)
}

.league-container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

 .league-container form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5rem;
    background-color: #2f71f4;
    border-radius: 100px;
}

.league-input{
    display: flex;
    justify-content: center;
    padding: 10px;
}