// @use '../../styles.scss' as s;

:host{
    display: inline;
    width: 100%;
    background-color: rgb(212, 215, 249)
}

.league-container{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

 .league-container .league-form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3rem;
    gap: 1rem;
    background-color: #2f71f4;
    border-radius: 100px;
}


h3,h4{
    color: black;
}

.league-input{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.radiobtn-label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}

.form-grid.season-rules{
    display: flex;
    gap: 1rem;
}

.scoring-grid {
    display: grid;
    grid-template-columns: repeat(7, 3fr); 
    gap: 1rem; 
}

