<div class="dynamic-dialog-container">
  <h2 mat-dialog-title>{{data.title}}</h2>

  <mat-dialog-content>
    @if(data.description){
      <p>{{data.description}}</p>
    }

    <div>
        @for(field of data.fields; track field.key){
          <div class="form-field">
            <app-custominput
              [label]="field.label"
              [type]="field.type"
              [width]="field.width",
              appearance = "fill"
              [required] = true
              [(value)] = "formResult[field.key]"
            >
            </app-custominput>

          </div>

      }
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="gap-2">
     <app-button [label]="data.cancelLabel || 'No Thanks'" [width]="data.cancelButtonWidth || ''" [color]="data.cancelButtonColor || ''" (click)="onCancel()"></app-button>
     <app-button [label]="data.submitLabel || 'Join League'" [width]="data.submitButtonWidth || ''" (click)="onSubmit()"></app-button>
  </mat-dialog-actions>

</div>