<div>

    @if(type == 'text' || type == 'number' || type == 'select'){
        
    <mat-form-field [appearance]="matFormFieldApperance" [class]="className" [style.width]="width">
        <mat-label>{{label}}</mat-label>

        @if(type == 'text' || type == 'number'){
        <input matInput [type]="type" [(ngModel)]="value" [required]="required" #inputVar="ngModel"  (ngModelChange)="onModelChanging($event)"/>
        <div *ngIf="inputVar.touched && inputVar.errors?.['required']" style="color:red">
            <!-- {{label}} is required and cannot be left empty -->
        </div>
        }@else if(type == 'select'){
        <select [(ngModel)]="value" [required]="required">
            <option value="" disabled>Select an option</option>
            <option *ngFor="let opt of options" [value]="opt.value">{{opt.label}}</option>
        </select>
        }
    </mat-form-field>

    }@else if(type=='radio'){
        <mat-radio-group  [(ngModel)]="value" (ngModelChange)="onModelChanging($event)">
            <mat-radio-button *ngFor="let opt of options" [value]="opt.value">{{opt.label}}</mat-radio-button>
        </mat-radio-group>
    }


</div>