// styles.scss — Global styles
@use '@angular/material' as mat;
@use '../src/styles/token.scss' as t;

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include mat.radio-overrides((
    label-text-color: white,
    label-text-size: 16px,
    selected-focus-icon-color: white,
    selected-icon-color: white,
    selected-pressed-icon-color: white,
    selected-hover-icon-color: white,
    unselected-hover-icon-color: white,
    unselected-icon-color: white,
    unselected-pressed-icon-color: white,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

// ---------- Material Paginator overrides ----------

.mat-mdc-paginator {
  background-color: transparent !important;
  color: t.$text-on-dark !important;
}

.mat-mdc-paginator-container {
  background-color: t.$color-bg-btn !important;
}

.mat-mdc-select-value,
.mat-mdc-select-arrow {
  color: t.$text-on-dark !important;
}

.mat-mdc-paginator-navigation-button .mat-mdc-button-touch-target,
.mat-mdc-icon-button svg {
  fill: t.$text-on-dark !important;
  color: t.$text-on-dark !important;
}

.mat-mdc-paginator .mat-mdc-form-field-focus-overlay {
  background-color: t.$text-on-dark;
}

.mat-mdc-icon-button:disabled {
  color: rgba(t.$text-on-dark, 0.3) !important;
}
